.bg{
    background-color: yellow;
    color: blue;
    border: 1px;
    margin: 3%;
    text-align: center;
    
}

.artikel{
background-color: gray;
margin: 5%;
flex-direction: row;
height: 400px;
}
h1{
text-align: center;

}
body{

background-image: url(img/showcase.jpg);
}

.logos{
    text-align: center;
}